# Copy this file to .env and fill values for local development

TURSO_DATABASE_URL=libsql://htc-it418.aws-ap-northeast-1.turso.io
TURSO_AUTH_TOKEN=YOUR_TURSO_TOKEN_HERE

# Change this in production
JWT_SECRET=change_me_to_a_long_random_string

# Optional
MAX_UPLOAD_MB=4
APP_URL=http://localhost:3000
